.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    gap: 0.2px;
}

.box {
    border: 1px solid black;
    font-size: 30px;
    color: maroon;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
