.cart-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ef4444;
    padding: 20px;
    margin: 10px 0;
    border-radius: 12px;
}

.cart-tile-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-image {
    height: 110px;
    width: auto;
    border-radius: 8px;
}

.cart-details h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.cart-details p {
    color: white;
    font-weight: 800;
}

.cart-actions {
    display: flex;
    align-items: center;
}

.remove-btn {
    background-color: #4b0000;
    color: white;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.quantity {
    color: #4b0000 !important;
}

.quantity span {
    color: white;
}
